$borderRad: 1em;
/*
Moved to inline to avoid global changes
body {
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
}
*/
table.schedule_table {
  border-spacing: 0.5em;
}

tr.arrival {
  background-color: #105cb6;
  td {
    padding: 0.5em;
  }
}

.ralign {
  text-align: right;
}

h1.stop_header {
  border-bottom: solid #ffffff;
}

td.early {
  /* background-color: #575757; */
  background-color: #990000;
}

td.late {
  background-color: #990000;
}

td.on_time {
  background-color: #575757;
}

td.arrival_time {
  -moz-border-top-left-radius: $borderRad;
  -moz-border-bottom-left-radius: $borderRad;
  border-top-left-radius:  $borderRad;
  border-bottom-left-radius:  $borderRad;
}

td.arrival_status {
  -moz-border-top-right-radius:  $borderRad;
  -moz-border-bottom-right-radius:  $borderRad;
  border-top-right-radius:  $borderRad;
  border-bottom-right-radius:  $borderRad;
}
